.form{
    background: rgb(241,241,241);
    background: linear-gradient(324deg, rgba(241,241,241,1) 34%, rgba(240,7,7,1) 47%, rgba(255,253,253,1) 60%);
    padding: 2.5rem;
    margin:auto;
    font-size: 2rem;
    margin-top: 45rem;
    border-radius:.25rem;
    font-family: 'Roboto', sans-serif;
    color:rgb(7, 5, 5);
    width: 50%;
    }
.form__titulo{
    font-size:2.5rem;
    margin-bottom: 1.25rem;
    width: 100%;
    overflow: hidden;
}

.form__controls{
    width: 97%;
    background: hsl(0, 3%, 70%);
    padding: .62rem;
    border-radius: .25rem;
    margin-bottom: 1rem;
    border: 0.063rem solid #85200B;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}
.form__text{
    font-style: normal;
    color:rgb(250, 3, 3);
    letter-spacing: .1rem;
    margin: 60px 10px 20px 20px;
    font-size:2.5rem;
    font-family: 'Roboto', sans-serif;
    text-align:center;
    text-transform: uppercase;
}
.form__derivacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    @media all and (max-width: 950px){
        .form{
            width: 100%;
        }
    }