/*carousel fotos*/
.carousel-caption{
    background-color: black;
    opacity: 0.7;
}
.carousel-control-next, .carousel-control-prev{
    width: 35%;
}
.carousel-img{
    width: 100%;
    height: 500px;
    padding: 0px 0px 10px 0px;
    @include tablet{
    width: 100%;
    height: 300px;
    @include movil{
    height: 220px;
    width: 100%;
}
}
}
    .carousel-inner p {
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

/*Header*/
    img{
        max-width: 100%;
}
/*fondo de los jugadores*/
.jugadores{
    background-image: url("https://pbs.twimg.com/media/DojeE78X4AA-YMf.jpg:large");
    background-repeat: no-repeat;
    background-position:center;
    grid-area: article;
    width: 100%;
}
.jugadores__titulo{
    color: black;
    font-size: 2rem;
}
.jugadores__img{
    display: flex;
    justify-content: center;
}

/*section*/
.section-index{
    display: flex;
    justify-content: space-around;
    width: 100%;
    grid-area: sidebar;
    padding: 20px 0px 190px 0px;
    @include tablet{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    @include movil{
        display: block;
    }
}

/*article index*/
.article{
    height: 100%;
    width: 50%;
    @include tablet{
        width: 75%;
    }
    &__titulo{
        font-size:$titulo;
        text-transform: uppercase;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:$negro;
}
    &__img{
        border-radius: 10%;
        border: .5em solid black;
}
    &__column {
        float: left;
        width: 50%;
}
    @include movil{
    width: 100%;
}
}

/*aside*/
.aside{
    display: flex;
    float: left;
    align-content: center;
    flex-direction: column;
    grid-area: aside;
    color: whitesmoke;
    @include tablet{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
&__titulo{
    font-size: $titulo;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    color:$negro;
}
&__parrafo{
    width: 100%;
    font-size: 3rem;
}
}
.section-index::after {
    content: "";
    clear: both;
    display: table;
}

/*footer*/
.footer {
    margin: 0;
    width: 100%;
    /* background-color: saddlebrown; */
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 20px;
    color: aliceblue;
    position: absolute; 
    font-size: 5rem;
}
    .footer .footer__Content {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column; 
}
    .footer .footer__Content h3 {
        font-size: 2.9rem;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 2rem; 
}
    .footer p {
        max-width: 500px;
        line-height: 28px;
        font-size: 14px; 
}
    .footer .footer__Content__socials {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px 0 5px 0; 
}
    .footer .footer__Content__socials li {
        margin: 0 10px; 
}
    .footer .footer__Content__socials a {
        text-decoration: none;
        color: #fff; 
}
    .footer .footer__Content__footerBottom p {
        font-size: 14px;
        word-spacing: 2px;
        text-transform: uppercase;
        opacity: 0.4;
        font-weight: 200; 
}
    .fa fa-facebook{
        width: 100px;
}