/*section multimedia*/
.multimedia{
    display: grid;
    width: 100%;
    padding: 0px 0px 100px 0px;
    @include movil{
        justify-content: center;
    }
&__contenedor{
    width: 100%;
    padding: 5rem 2rem 2rem 5rem;
    @include tablet{
        padding: unset;
        @include movil-s{
            width: 99%;
        }
    }
}
&__contenedor img{
    border-radius: 10%;
    border: 1em solid black;
    @include tablet{
        width: 179px;
    }
}
&__subtitulo{
    font-size: 3.2rem;
    padding: 2rem ;
    color: rgb(182, 97, 40);
    text-transform: uppercase;
    padding: 22px 2px 45px 2px;
}
}
iframe{
    margin: 6px;
    @include movil{
    width: 97%;
    margin:0px 0px 12px 0px;
    @include movil-s{
        width: 99%;
    }
}
}
/*fotos*/
.fotos{
    width: 100%;
    height: 100%;
    padding: 0px 0px 200px 0px;
&__img{
    width: 28%;
    height: 25%;
    border-radius: 10px;
    border: black 1em solid;
    margin: 2px;
    @include tablet{
        width: 80%;
    @include movil{
        width: 95%;
        margin: 0px 0px 15px 0px;
        @include movil-s{
            width: 89%;
        }
    }   
    }
}
}